.todo-header {
    width: 570px;
    margin-bottom: 15px;
}

.todo-header h2 {
    width: 70%;
    display: inline;
}

.todo-header > a {
    float: right;
}

#todo-list input {
    float: left;
    margin-top: 4px;
}

#todo-list {
    width: 570px;
}

.todo-item {
    border: solid 1px gray;
    height: 70px;
}

.col-left {
    margin-left: 6px;
    line-height: 20px;
}

.col-left label {
    font-weight: bold;
}

.col-left {
    width: 250px;
    float: left;
}
 
.col-center {
    width: 80px;
    float: left;
    line-height: 60px;
}
 
.col-right {
    width: 210px;
    float: left;
}

.col-left ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.col-left li {
    display: inline;
    margin-right: 4px;
    border: 1px solid black;
    border-radius: 10px 10px 10px 10px;
    padding: 2px;
}

.gray {
    background: #eee;
}

.avatar {
    border: 1px solid #808080;
    height: 40px;
    width: 40px;
    margin-top: 5px;
    float: left;
}

.user-info {
    margin: 4px 0px 0px 45px;
}